# # Data files
data/
# # Model weights
*.whl
*.pkl

# # Jupyter Notebook checkpoints
# .ipynb_checkpoints/

# # Logs
*.log
*.tsv
# # Virtual environment
# venv/
# .env
/wandb
*.json
/src/__pycache__/
*.zip
*.tfevents
.DS_Store
.gitignore
